/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rainbow text effect */
.rainbow-text {
  background: linear-gradient(
    to right,
    rgb(150, 0, 0),
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
